{extend name='public/base'/}
{block name='header'}{/block} {//关掉头部}
{block name='menu'}{/block} {//关掉菜单}
{block name='seo'}
<title>{$title|default="标题"}</title>
<meta name="keywords" content="{$keywords|default='关键字'}">
<meta name="description" content="{$desc|default='描述'}">
{/block}

{block name='content'}
<article class="cl pd-20">


    <form action="" method="post" class="form form-horizontal" id="form-check-add">
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>题目：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" class="input-text" value="" placeholder="" id="content" name="content">
                <div id="contentResult"></div>
            </div>
        </div>

        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>选项A：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input  type="text" class="input-text" placeholder="" name="op1" id="op1" value="">
                <div id="op1Result"></div>
            </div>

        </div>

        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>选项B：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input  type="text" class="input-text" placeholder="" name="op2" id="op2" value="">
                <div id="op2Result"></div>
            </div>

        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>选项C：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input  type="text" class="input-text" placeholder="" name="op3" id="op3" value="">
                <div id="op3Result"></div>
            </div>

        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>选项D：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input  type="text" class="input-text" placeholder="" name="op4" id="op4" value="">
                <div id="op4Result"></div>
            </div>

        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>答案：</label>
            <div class="formControls col-xs-8 col-sm-9"> <span class="select-box" style="width:150px;">

                    <select class="select" name="ans" size="1">
                        <option value="1" selected>A</option>
                        <option value="2">B</option>
                        <option value="3">C</option>
                        <option value="4">D</option>
                    </select>
                </span>
            </div>
        </div>


        <div class="row cl">
            <div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-3">
                <input class="btn btn-primary radius disabled" type="button" value="&nbsp;&nbsp;提交&nbsp;&nbsp;"
                    id="submit">
            </div>
        </div>
    </form>


</article>
{/block}

{block name='js'}
<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" src="__STATIC__/lib/jquery.validation/1.14.0/jquery.validate.js"></script>
<script type="text/javascript" src="__STATIC__/lib/jquery.validation/1.14.0/validate-methods.js"></script>
<script type="text/javascript" src="__STATIC__/lib/jquery.validation/1.14.0/messages_zh.js"></script>




<script>

    $(function () {

        //防止用户无更新提交,只有表中数据有变化时才允许提交
        $("form").children().change(function () {
            $("#submit").removeClass('disabled');
        });
        //失去焦点时,检查题目是否为空
        $("#content").blur(function () {
            var data = $("#content").val();
            if (data == null || data == "") {
                $("#contentResult").text("题目不能为空！");
                $("#contentResult").css("color", "red");
                return false;
            }else{
                $("#contentResult").text("");
            }
        });

        // 失去焦点时,检查选项是否为空
        $("#op1").blur(function () {
            var data = $("#op1").val();
            if (data == null || data == "") {
                $("#op1Result").text("选项不能为空！");
                $("#op1Result").css("color", "red");
                return false;
            }else{
                $("#op1Result").text("");
            }
           
        });

         // 失去焦点时,检查选项是否为空
         $("#op2").blur(function () {
            var data = $("#op3").val();
            if (data == null || data == "") {
                $("#op2Result").text("选项不能为空！");
                $("#op2Result").css("color", "red");
                return false;
            }else{
                $("#op2Result").text("");
            }
           
        }); // 失去焦点时,检查选项是否为空
        $("#op3").blur(function () {
            var data = $("#op3").val();
            if (data == null || data == "") {
                $("#op3Result").text("选项不能为空！");
                $("#op3Result").css("color", "red");
                return false;
            }else{
                $("#op3Result").text("");
            }
           
        }); // 失去焦点时,检查选项是否为空
        $("#op4").blur(function () {
            var data = $("#op4").val();
            if (data == null || data == "") {
                $("#op4Result").text("选项不能为空！");
                $("#op4Result").css("color", "red");
                return false;
            }else{
                $("#op4Result").text("");
            }
           
        });


        $("#submit").on("click", function (event) {
            $.ajax({
                type: "POST",
                url: "{:url('question/checkDoAdd')}",
                data: $("#form-check-add").serialize(),
                dataType: "json",
                success: function (data) {
                    if (data.status == 1) {
                        alert(data.message);
                    } else {
                        alert(data.message);
                        return false;
                    }
                }
            });

        })
    })
</script>
{/block}

</body>

</html>