{extend name='public/base'/}
{block name='header'}{/block} {//关掉头部}
{block name='menu'}{/block} {//关掉菜单}
{block name='seo'}
<title>{$title|default="标题"}</title>
<meta name="keywords" content="{$keywords|default='关键字'}">
<meta name="description" content="{$desc|default='描述'}">
{/block}

{block name='content'}
<article class="cl pd-20">


    <form action="" method="post" class="form form-horizontal" id="form-short-add">
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>题目：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" class="input-text" value="" placeholder="" id="content" name="content">
                <div id="contentResult"></div>
            </div>
        </div>

        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>关键字：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <textarea style="resize:none; OVERFLOW:visible" cols="77" rows="10"
                name="ans" id="ans" placeholder="每段关键字请用逗号(,)隔开 , 例如:硬件系统,软件系统"></textarea>
                <div id="ansResult"></div>
            </div>

        </div>

      


        <div class="row cl">
            <div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-3">
                <input class="btn btn-primary radius disabled" type="button" value="&nbsp;&nbsp;提交&nbsp;&nbsp;"
                    id="submit">
            </div>
        </div>
    </form>


</article>
{/block}

{block name='js'}
<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" src="__STATIC__/lib/jquery.validation/1.14.0/jquery.validate.js"></script>
<script type="text/javascript" src="__STATIC__/lib/jquery.validation/1.14.0/validate-methods.js"></script>
<script type="text/javascript" src="__STATIC__/lib/jquery.validation/1.14.0/messages_zh.js"></script>




<script>

    $(function () {

        //防止用户无更新提交,只有表中数据有变化时才允许提交
        $("form").children().change(function () {
            $("#submit").removeClass('disabled');
        });
        //失去焦点时,检查题目是否为空
        $("#content").blur(function () {
            var data = $("#content").val();
            if (data == null || data == "") {
                $("#contentResult").text("题目不能为空！");
                $("#contentResult").css("color", "red");
                return false;
            }else{
                $("#contentResult").text("");
            }
        });

        // 失去焦点时,检查选项是否为空
        $("#ans").blur(function () {
            var data = $("#ans").val();
            if (data == null || data == "") {
                $("#ansResult").text("答案不能为空！");
                $("#ansResult").css("color", "red");
                return false;
            }else{
                $("#ansResult").text("");
            }
           
        });

        

        $("#submit").on("click", function (event) {
            $.ajax({
                type: "POST",
                url: "{:url('question/shortDoAdd')}",
                data: $("#form-short-add").serialize(),
                dataType: "json",
                success: function (data) {
                    if (data.status == 1) {
                        alert(data.message);
                    } else {
                        alert(data.message);
                        return false;
                    }
                }
            });

        })
    })
</script>
{/block}

</body>

</html>