{extend name='public/base' /}

{block name='seo' /}
<title>{$title|default='标题'}</title>
<meta name="keywords" content="{$keywords|default='关键字'}">
<meta name="description" content="{$desc|default='描述'}">
{/block}


{block name='content' /}
<link rel="stylesheet" type="text/css" href="/static/table.css">
<section class="Hui-article-box">
	<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页
		<span class="c-gray en">&gt;</span>
		题库管理
		<span class="c-gray en">&gt;</span>
		判断题 <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px"
			href="javascript:location.replace(location.href);" title="刷新"><i class="Hui-iconfont">&#xe68f;</i></a>
	</nav>
	<div class="Hui-article">
		<article class="cl pd-20">
	<!--如果是admin显示用户数量,其它用户没必要显示-->
    <div class="cl pd-5 bg-1 bk-gray mt-20">
        {if condition="$role == 3 || $role ==4"}
        {else /}
		<span class="l">
            <!-- <a href="javascript:;" onclick="unDelete()" class="btn btn-danger radius"> -->
            <!-- <i class="Hui-iconfont">&#xe6e2;</i> 批量恢复</a>-->
            <a href="javascript:;" onclick="question_add('添加题目','{:url("question/tofAdd")}','800','500')"
                class="btn btn-primary radius">
                <i class="Hui-iconfont">&#xe600;</i> 添加题目</a>
		</span>
		{/if}
        <span class="r">共有数据：<strong>{$count}</strong> 条</span>
    </div>
    

    <table class="table2 table-border2  table-bordered2 table-bg">
        {volist name='questionList' id='vo'}
        <thead>
            <tr class="text-c">
                <th style="border-left: 1px solid #ddd" width="80">题号:{$vo.id}</th>
                <th width="250"></th>
                <th width="300"></th>
                {if condition="$role == 3 || $role ==4"}
                <th width="300"></th>
                {else /}
                <th style="text-align: left;" class="td-manage">操作:
                    <a title="编辑" href="javascript:;" onclick="question_edit('题目编辑','{:url("question/tofEdit",["id"=>$vo["id"]])}','1','800','500')" class="ml-5"
                    style="text-decoration:none">
                    <i class="Hui-iconfont">&#xe6df;</i>
                </a>

                <a title="删除" href="javascript:;" onclick="question_del(this,{$vo.id})" class="ml-5"
                    style="text-decoration:none">
                    <i class="Hui-iconfont">&#xe6e2;</i>
                </a>
                
                </th>
                {/if}
            </tr>
        </thead>
        <tbody>
            <tr class="text-c">
                <td style="text-align: left;" colspan="4">({$vo.value}分){$vo.content}(&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;)</td>
            </tr>
            
            <tr class="text-c">
                <td  colspan="4" style="text-align: left; border-bottom: 1px solid #ddd;">答案:<span style="color: red;">{$vo.ans}</span></td>
            </tr>
        </tbody>
        {/volist}
    </table>
    <!--显示分页按钮,事先要将bootstrap导入css和js-->
    <div class="container">
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4">{$questionList->render()} </div></div>
            <div class="col-md-4"></div>
        </div> 
</article>
</div>
</section>
{/block}


{block name='js'}
<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" src="__STATIC__/lib/My97DatePicker/4.8/WdatePicker.js"></script>
<script type="text/javascript" src="__STATIC__/lib/datatables/1.10.0/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="__STATIC__/lib/laypage/1.2/laypage.js"></script>
<script type="text/javascript">
/*
参数解释：
title	标题
url		请求的url
id		需要操作的数据id
w		弹出层宽度（缺省调默认值）
h		弹出层高度（缺省调默认值）
*/
/*管理员-增加*/

function question_add(title, url, w, h) {
$.post(url);
layer_show(title, url, w, h);
}


/*用户-删除*/
function question_del(obj, id) {
        layer.msg('你确定删除么？', {
            time: 0 //不自动关闭
            , btn: ['确定', '取消']
            , yes: function (index) {
                $.get("{:url('question/deleteTof')}", { id: id });
                $(obj).parents("tr").remove();
                layer.msg('已删除!', { icon: 1, time: 1000 });
            }
        })
    }
/*管理员-编辑*/
function question_edit(title, url, id, w, h) {
$.get(url, { id: id }); //执行控制器中的编辑操作
layer_show(title, url, w, h);
}


</script>
<!--/请在上方写此页面业务相关的脚本-->
{/block}
</body>

</html>