{extend name='public/base'/}
{block name='header'}{/block} {//关掉头部}
{block name='menu'}{/block} {//关掉菜单}
{block name='seo'}
<title>{$title|default="标题"}</title>
<meta name="keywords" content="{$keywords|default='关键字'}">
<meta name="description" content="{$desc|default='描述'}">
{/block}

{block name='content'}
<article class="cl pd-20">


    <form action="" method="post" class="form form-horizontal" id="form-tof-add">
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>题目：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" class="input-text" value="" placeholder="" id="content" name="content">
                <div id="contentResult"></div>
            </div>
        </div>

       
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>答案：</label>
            <div class="formControls col-xs-8 col-sm-9"> <span class="select-box" style="width:150px;">

                    <select class="select" name="ans" size="1">
                        <option value="1" selected>正确</option>
                        <option value="2">错误</option>

                    </select>
                </span>
            </div>
        </div>


        <div class="row cl">
            <div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-3">
                <input class="btn btn-primary radius disabled" type="button" value="&nbsp;&nbsp;提交&nbsp;&nbsp;"
                    id="submit">
            </div>
        </div>
    </form>


</article>
{/block}

{block name='js'}
<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" src="__STATIC__/lib/jquery.validation/1.14.0/jquery.validate.js"></script>
<script type="text/javascript" src="__STATIC__/lib/jquery.validation/1.14.0/validate-methods.js"></script>
<script type="text/javascript" src="__STATIC__/lib/jquery.validation/1.14.0/messages_zh.js"></script>




<script>

    $(function () {

        //防止用户无更新提交,只有表中数据有变化时才允许提交
        $("form").children().change(function () {
            $("#submit").removeClass('disabled');
        });
        //失去焦点时,检查题目是否为空
        $("#content").blur(function () {
            var data = $("#content").val();
            if (data == null || data == "") {
                $("#contentResult").text("题目不能为空！");
                $("#contentResult").css("color", "red");
                return false;
            }else{
                $("#contentResult").text("");
            }
        });

      


        $("#submit").on("click", function (event) {
            $.ajax({
                type: "POST",
                url: "{:url('question/tofDoAdd')}",
                data: $("#form-tof-add").serialize(),
                dataType: "json",
                success: function (data) {
                    if (data.status == 1) {
                        alert(data.message);
                    } else {
                        alert(data.message);
                        return false;
                    }
                }
            });

        })
    })
</script>
{/block}

</body>

</html>