{extend name='public/base' /}

{block name='seo'}
<title>{$title|default="标题"}</title>
<meta name="keywords" content="{$keywords|default='关键字'}">
<meta name="description" content="{$desc|default='描述'}">
{/block}

{block name='menu'}
{include file='public/menu_student' /}
{/block}
{block name='content'}

<section class="Hui-article-box">
	<nav class="breadcrumb">
		<i class="Hui-iconfont">&#xe67f;</i>
		首页 <span class="c-gray en">&gt;</span>
		个人管理 <span class="c-gray en">&gt;</span>
		个人信息<a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px"
			href="javascript:location.replace(location.href);" title="刷新"><i class="Hui-iconfont">&#xe68f;</i></a></nav>
	<div class="Hui-article">
		<article class="cl pd-20">

			<div class="mt-20">
				<table class="table table-border table-bordered table-hover table-bg table-sort">
					<thead>
						<tr class="text-c">
							<th width="50">学号</th>
							<th width="50">姓名</th>
							<th width="30">性别</th>
							<th width="90">所在班级</th>
							<th width="90">手机号</th>
							<th width="150">邮箱</th>
							<th width="40">成绩</th>
							<th width="130">更新时间</th>
							<th width="100">操作</th>
						</tr>
					</thead>
					<tbody>


						<tr class="text-c">

							<td>{$studentList.id}</td>
							<td>{$studentList.name}</td>
							<td>{$studentList.sex}</td>
							{if condition="$studentList.grade_id == null "}
							<td><span style="color:red;">未分配</span></td>
							{else /}
							<td>{$studentList.grade_id}</td>
							{/if}
							<td>{$studentList.mobile}</td>
							<td>{$studentList.email}</td>
							<td class="td-manage">
                                <a href="{:url('student/scoreShow')}?id={$studentList.id}"  >
                                   
                                    查看
                                </a>
							<td>{$studentList.update_time}</td>
							<td class="td-manage">
								<a title="编辑" href="javascript:;" onclick="member_edit('学生编辑','{:url("
									student/studentEdit2",["id"=>$studentList["id"]])}','','510')" class="ml-5"
									style="text-decoration:none">
									<i class="Hui-iconfont">&#xe6df;</i>
								</a>
							</td>
						</tr>

					</tbody>
				</table>
			</div>

			<!--显示分页按钮,事先要将bootstrap导入css和js-->



		</article>
	</div>

</section>

{/block}

{block name='js'}

<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" src="__STATIC__/lib/My97DatePicker/4.8/WdatePicker.js"></script>
<script type="text/javascript" src="__STATIC__/lib/datatables/1.10.0/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="__STATIC__/lib/laypage/1.2/laypage.js"></script>
<script type="text/javascript">
	$(function () {

		$('.table-sort tbody').on('click', 'tr', function () {
			if ($(this).hasClass('selected')) {
				$(this).removeClass('selected');
			}
			else {
				table.$('tr.selected').removeClass('selected');
				$(this).addClass('selected');
			}
		});
	});
	/*用户-添加*/
	function member_add(title, url, w, h) {
		layer_show(title, url, w, h);
	}
	/*用户-查看*/
	function member_show(title, url, id, w, h) {
		layer_show(title, url, w, h);
	}

	/*用户-编辑*/
	function member_edit(title, url, w, h) {
		$.get(url); //执行控制器中的编辑操作
		layer_show(title, url, w, h);
	}



</script>
<!--/请在上方写此页面业务相关的脚本-->
{/block}
</body>

</html>