{extend name='public/base'/}
{block name='header'}{/block} {//关掉头部}
{block name='menu'}{/block} {//关掉菜单}
{block name='seo'}
<title>{$title|default="标题"}</title>
<meta name="keywords" content="{$keywords|default='关键字'}">
<meta name="description" content="{$desc|default='描述'}">
{/block}

{block name='content'}
<article class="cl pd-20">


	<form action="" method="post" class="form form-horizontal" id="form-student-add">
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>姓名：</label>
			<div class="formControls col-xs-8 col-sm-9">

				<input type="text" class="input-text" value="" placeholder="" id="name" name="name">
				<div id="nameResult"></div>
			</div>
			
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>学号：</label>
			<div class="formControls col-xs-8 col-sm-9">

				<input type="text" class="input-text" value="" placeholder="" id="id" name="id">
				<div id="idResult"></div>
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>密码：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="password" class="input-text" autocomplete="off" value="" placeholder=""
					id="password" name="password">
			<div id="passwordResult"></div>
		</div>
			
		</div>

		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-3">性别：</label>
			<div class="formControls col-xs-8 col-sm-9"> <span class="select-box" style="width:150px;">

					<select class="select" name="sex" size="1">
						<option value="1" selected>男</option>
						<option value="2">女</option>
					</select>
				</span>
			</div>
		</div>

		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>手机号码：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="text" class="input-text " oninput = "value=value.replace(/[^\d]/g,'')" maxlength="11" placeholder="手机号码" name="mobile" id="mobile"
					value="">
					<div id="mobileResult"></div>
			</div>
			
		</div>

		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>邮箱：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="text" class="input-text " placeholder="@" name="email" id="email" value="">
			<div id="emailResult"></div>
		</div>
			
			
		</div>


		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-3">所在班级：</label>
			<div class="formControls col-xs-8 col-sm-9"> <span class="select-box" style="width:150px;">
					<select class="select" name="grade_id" size="1">
						<option value="" selected>不分配</option>
						{volist name='gradeList' id='vo'}
						<option value="{$vo.id}">{$vo.id}</option>
						{/volist}
					</select>
				</span>
			</div>
		</div>

		<div class="row cl">
			<div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-3">
				<input class="btn btn-primary radius disabled" type="button" value="&nbsp;&nbsp;提交&nbsp;&nbsp;"
					id="submit">
			</div>
		</div>
	</form>


</article>
{/block}

{block name='js'}
<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" src="__STATIC__/lib/jquery.validation/1.14.0/jquery.validate.js"></script>
<script type="text/javascript" src="__STATIC__/lib/jquery.validation/1.14.0/validate-methods.js"></script>
<script type="text/javascript" src="__STATIC__/lib/jquery.validation/1.14.0/messages_zh.js"></script>




<script>

	$(function () {
		//当用户修改了输入框内容时才触发
		$("form").children().change(function () {
			$("#submit").removeClass('disabled');
		});

		 // 失去焦点时,检查姓名是否为空
		 $("#name").blur(function () {
            var data = $("#name").val();
            if (data == null || data == "") {
                $("#nameResult").text("姓名不能为空！");
                $("#nameResult").css("color", "red");
                return false;
            }else{
                $("#nameResult").text("");

            }
        });

		 //失去焦点时,检查学号是否重复
		 $("#id").blur(function () {
            var data = $("#id").val();
            if (data == null || data == "") {
                $("#idResult").text("学号不能为空！");
                $("#idResult").css("color", "red");
				return false;
            }
            $.ajax({
                type: 'GET',
                url: "checkStudentId",
                data: { id: $(this).val() },
                dataType: 'json',
                success: function (data) {
                    if (data.status == 1) {
                        $("#idResult").text("学号可用");
                        $("#idResult").css("color", "green");
                    } else {
                        $("#idResult").text("该学号已被使用,请重新输入");
                        $("#idResult").css("color", "red");
                        
                    }
                }
            });
        });

        // 失去焦点时,检查邮箱是否重复
        $("#email").blur(function () {
            var data = $("#email").val();
            if (data == null || data == "") {
                $("#emailResult").text("邮箱不能为空！");
                $("#emailResult").css("color", "red");
				return false;
            }
            $.ajax({
                type: 'GET',
                url: "checkStudentEmail",
                data: { email: $(this).val() },
                dataType: 'json',
                success: function (data) {
                    if (data.status == 1) {
                        $("#emailResult").text("邮箱可用");
                        $("#emailResult").css("color", "green");
                    } else {
                        $("#emailResult").text("该邮箱已被使用,请重新输入");
                        $("#emailResult").css("color", "red");
                      
                    }
                }
            });
        });

        // 失去焦点时,检查密码是否为空
        $("#password").blur(function () {
            var data = $("#password").val();
            if (data == null || data == "") {
                $("#passwordResult").text("密码不能为空！");
                $("#passwordResult").css("color", "red");
                return false;
            }else{
                $("#passwordResult").text("");

            }
        });

        // 失去焦点时,检查手机号是否重复
        $("#mobile").blur(function () {
            var data = $("#mobile").val();
            if (data == null || data == "") {
                $("#mobileResult").text("手机号不能为空！");
                $("#mobileResult").css("color", "red");
				return false;
            }
            $.ajax({
                type: 'GET',
                url: "checkStudentMobile",
                data: { mobile: $(this).val() },
                dataType: 'json',
                success: function (data) {
                    if (data.status == 1) {
                        $("#mobileResult").text("手机号可用");
                        $("#mobileResult").css("color", "green");
                    } else {
                        $("#mobileResult").text("该手机号已被使用,请重新输入");
                        $("#mobileResult").css("color", "red");
                       
                    }
                }
            });
        });


        $("#submit").on("click", function (event) {
            $.ajax({
                type: "POST",
                url: "{:url('Student/doAdd')}",
                data: $("#form-student-add").serialize(),
                dataType: "json",
                success: function (data) {
                    if (data.status == 1) {
                        alert(data.message);

                    } else {
                        alert(data.message);
                        return false;
                    }
                }
            });

        })
	})
</script>
{/block}

</body>

</html>