{extend name='public/base' /}

{block name='seo'}
<title>{$title|default="标题"}</title>
<meta name="keywords" content="{$keywords|default='关键字'}">
<meta name="description" content="{$desc|default='描述'}">
{/block}

{block name='menu'}
{include file='public/menu_student' /}
{/block}
{block name='content'}

<section class="Hui-article-box">
	<nav class="breadcrumb">
		<i class="Hui-iconfont">&#xe67f;</i>
		首页 <span class="c-gray en">&gt;</span>
		学生管理 <span class="c-gray en">&gt;</span>
        学生列表<span class="c-gray en">&gt;</span>
        查看学生<span class="c-gray en">&gt;</span>
		学生成绩<a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px"
			href="javascript:location.replace(location.href);" title="刷新"><i class="Hui-iconfont">&#xe68f;</i></a></nav>
	<div class="Hui-article">
		<article class="cl pd-20">

			<div class="cl pd-5 bg-1 bk-gray mt-20">
				<span class="l">
					&nbsp;&nbsp;&nbsp;&nbsp;<a href="javascript:history.go(-1)" class="btn btn-primary radius">返回</a>
				</span>
				<span class="r">共有数据：<strong>{$count}</strong> 条</span>
			</div>

			<div class="mt-20">
				<table class="table table-border table-bordered table-hover table-bg table-sort">
					<thead>
						<tr class="text-c">
                            <th width="100">试卷编号</th>
							<th width="200">试卷标题</th>
							<th width="200">成绩</th>
							<th width="200">考试时间</th>
						</tr>
					</thead>
					<tbody>
                        {if condition='$count == 0 '}
                        <tr class="text-c">
							<td colspan="4">暂无考试成绩</td>
							
						</tr>
                        {else /}
						{volist name='scoreList' id='vo'}
						<tr class="text-c">
                            <td>{$vo.paper_id}</td>
							<td>{$vo.title}</td>
							<td>{$vo.score}</td>
							<td>{$vo.create_time}</td>
						</tr>
                        {/volist}
                        {/if}
					</tbody>
				</table>
			</div>

            <!--显示分页按钮,事先要将bootstrap导入css和js-->
            {if condition='$count == 0 '}
            {else /}
			<div class="container">
				<div class="row">
					<div class="col-md-4"></div>
					<div class="col-md-4">{$scoreList->render()}</div>
				</div>
				<div class="col-md-4"></div>
            </div>
            {/if}
		</article>
	</div>

</section>

{/block}

{block name='js'}

<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" src="__STATIC__/lib/My97DatePicker/4.8/WdatePicker.js"></script>
<script type="text/javascript" src="__STATIC__/lib/datatables/1.10.0/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="__STATIC__/lib/laypage/1.2/laypage.js"></script>
<script type="text/javascript">
	$(function () {

		$('.table-sort tbody').on('click', 'tr', function () {
			if ($(this).hasClass('selected')) {
				$(this).removeClass('selected');
			}
			else {
				table.$('tr.selected').removeClass('selected');
				$(this).addClass('selected');
			}
		});
	});


</script>
<!--/请在上方写此页面业务相关的脚本-->
{/block}
</body>

</html>