﻿{extend name='public/base' /}

{block name='seo'}
<title>{$title|default="标题"}</title>
<meta name="keywords" content="{$keywords|default='关键字'}">
<meta name="description" content="{$desc|default='描述'}">
{/block}


{block name='content'}

<section class="Hui-article-box">
	<nav class="breadcrumb">
		<i class="Hui-iconfont">&#xe67f;</i>
		首页 <span class="c-gray en">&gt;</span>
        学生管理 <span class="c-gray en">&gt;</span>
        学生列表<a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a></nav>
	<div class="Hui-article">
		<article class="cl pd-20">

			<div class="cl pd-5 bg-1 bk-gray mt-20">
				<span class="l">
					<a href="javascript:;" onclick="member_add('添加学生','{:url("student/studentAdd")}','','510')" class="btn btn-primary radius">
						<i class="Hui-iconfont">&#xe600;</i>
						添加学生
					</a>
				</span>
				
				<span class="r">共有数据：<strong>{$count}</strong> 条</span>
			</div>
			
			<div class="mt-20">
				<table class="table table-border table-bordered table-hover table-bg table-sort">
					<thead>
						<tr class="text-c">
							<th width="50">学号</th>
							<th width="50">姓名</th>
							<th width="30">性别</th>
							<th width="90">所在班级</th>
							<th width="90">手机号</th>
                            <th width="150">邮箱</th>
							<th width="40">成绩</th>
							<th width="130">更新时间</th>
							<th width="100">操作</th>
						</tr>
					</thead>
					<tbody>
					
					{volist name='studentList' id='vo'}
						<tr class="text-c">
							
							<td>{$vo.id}</td>
							<td>{$vo.name}</td>
							<td>{$vo.sex}</td>
							{eq name='vo.grade_id' value=""}
							<td><span style="color:red;">未分配</span></td>
							{else /}
							<td>{$vo.grade_id}</td>
							{/eq}
							<td>{$vo.mobile}</td>
							<td>{$vo.email}</td>
							<td class="td-manage">
                                <a href="{:url('student/scoreShow')}?id={$vo.id}"" >
                                   
                                    查看
                                </a>
                            </td>
                            
							<td>{$vo.update_time}</td>
							<td class="td-manage">
								<a title="编辑" href="javascript:;" onclick="member_edit('学生编辑','{:url("student/studentEdit",["id"=>$vo["id"]])}','','510')" class="ml-5" style="text-decoration:none">
									<i class="Hui-iconfont">&#xe6df;</i>
								</a>
								<a title="删除" href="javascript:;" onclick="member_del(this,'{$vo.id}')" class="ml-5" style="text-decoration:none">
									<i class="Hui-iconfont">&#xe6e2;</i>
								</a>
							</td>
							
						</tr>
					{/volist}
					</tbody>
				</table>
			</div>
			
			<!--显示分页按钮,事先要将bootstrap导入css和js-->
			<div class="container">
				<div class="row">
					<div class="col-md-4"></div>
					<div class="col-md-4">{$studentList->render()} </div></div>
					<div class="col-md-4"></div>
                </div> 
               

		</article>
	</div>

</section>

{/block}

{block name='js'}

<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" src="__STATIC__/lib/My97DatePicker/4.8/WdatePicker.js"></script>
<script type="text/javascript" src="__STATIC__/lib/datatables/1.10.0/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="__STATIC__/lib/laypage/1.2/laypage.js"></script>
<script type="text/javascript">
$(function(){

	$('.table-sort tbody').on( 'click', 'tr', function () {
		if ( $(this).hasClass('selected') ) {
			$(this).removeClass('selected');
		}
		else {
			table.$('tr.selected').removeClass('selected');
			$(this).addClass('selected');
		}
	});
});
/*用户-添加*/
function member_add(title,url,w,h){
	layer_show(title,url,w,h);
}
/*用户-查看*/
function member_show(title,url,id,w,h){
	layer_show(title,url,w,h);
}

/*用户-编辑*/
function member_edit(title,url,w,h){
    $.get(url); //执行控制器中的编辑操作
	layer_show(title,url,w,h);
}

/*用户-删除*/
function member_del(obj, id) {
        layer.msg('你确定删除么？', {
            time: 0 //不自动关闭
            , btn: ['确定', '取消']
            , yes: function (index) {
                $.get("{:url('student/deleteStudent')}", { id: id });
                $(obj).parents("tr").remove();
                layer.msg('已删除!', { icon: 1, time: 1000 });
            }
        })
    }


</script>
<!--/请在上方写此页面业务相关的脚本-->
{/block}
</body>
</html>