﻿{extend name='public/base' /}

{block name='seo'}
<title></title>
<meta name="keywords" content="">
<meta name="description" content="">
{/block}

{block name='menu'}
{include file='public/menu_teacher' /}
{/block}
{block name='content'}

<section class="Hui-article-box">
	<nav class="breadcrumb">
		<i class="Hui-iconfont">&#xe67f;</i>
		首页 <span class="c-gray en">&gt;</span>
		班级管理 <span class="c-gray en">&gt;</span>
		班级列表<a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px"
			href="javascript:location.replace(location.href);" title="刷新"><i class="Hui-iconfont">&#xe68f;</i></a></nav>
	<div class="Hui-article">
		<article class="cl pd-20">

			<div class="cl pd-5 bg-1 bk-gray mt-20">
			</div>
			<div class="mt-20">
				<table class="table table-border table-bordered table-hover table-bg table-sort">
					<thead>
						<tr class="text-c">
							<th width="50">班级号</th>
							<th width="40">人数</th>
							<th width="100">授课教师</th>
							<th width="40">查看学生</th>
							<th width="150">更新时间</th>
						</tr>
					</thead>
					<tbody>
						
						{if condition="$gradeList == null"}
						<tr class="text-c">
							<td colspan="6"><span style="color: red;">未分配班级</span></td>
						</tr>
						{else /}
						<tr class="text-c">
							<td>{$gradeList.id}</td>
							<td>{$gradeList.num}</td>
							<td>{$gradeList.teacher}</td>
							
							<td class="td-manage">
                                <a href="{:url('teacher/gradeShow')}?id={$gradeList.id}"" >
                                   
                                    查看
                                </a>
                            </td>
							<td>{$gradeList.update_time}</td>
						</tr>
						{/if}
						
					</tbody>
				</table>
			</div>
			
               
		</article>
	</div>
</section>

{/block}

{block name='js'}

<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" src="__STATIC__/lib/My97DatePicker/4.8/WdatePicker.js"></script>
<script type="text/javascript" src="__STATIC__/lib/datatables/1.10.0/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="__STATIC__/lib/laypage/1.2/laypage.js"></script>
<script type="text/javascript">
	$(function () {

		$('.table-sort tbody').on('click', 'tr', function () {
			if ($(this).hasClass('selected')) {
				$(this).removeClass('selected');
			}
			else {
				table.$('tr.selected').removeClass('selected');
				$(this).addClass('selected');
			}
		});
	});
	


</script>
<!--/请在上方写此页面业务相关的脚本-->
{/block}
</body>

</html>