{extend name='public/base'/}
{block name='header'}{/block} {//关掉头部}
{block name='menu'}{/block} {//关掉菜单}
{block name='seo'}
<title>{$title|default="标题"}</title>
<meta name="keywords" content="{$keywords|default='关键字'}">
<meta name="description" content="{$desc|default='描述'}">
{/block}

{block name='content'}
<article class="cl pd-20">


	<form action="" method="post" class="form form-horizontal" id="form-student-add">

		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>学号：</label>
			<div class="formControls col-xs-8 col-sm-9">

				<input type="text" class="input-text" value="" placeholder="" id="id" name="id">
				<div id="idResult"></div>
			</div>
        </div>
        

		

		<div class="row cl">
			<div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-3">
				<input class="btn btn-primary radius " type="button" value="&nbsp;&nbsp;提交&nbsp;&nbsp;"
					id="submit">
			</div>
		</div>
	</form>


</article>
{/block}

{block name='js'}
<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" src="__STATIC__/lib/jquery.validation/1.14.0/jquery.validate.js"></script>
<script type="text/javascript" src="__STATIC__/lib/jquery.validation/1.14.0/validate-methods.js"></script>
<script type="text/javascript" src="__STATIC__/lib/jquery.validation/1.14.0/messages_zh.js"></script>




<script>

	$(function () {
	
		 //失去焦点时,检查学号是否重复
		 $("#id").blur(function () {
            var data = $("#id").val();
            if (data == null || data == "") {
                $("#idResult").text("学号不能为空！");
                $("#idResult").css("color", "red");
				return false;
            }else{
                $("#idResult").text("");
            }
            $.ajax({
                type: 'GET',
                url: "../student/checkStudentId",
                data: { id: $(this).val() },
                dataType: 'json',
                success: function (data) {
                    if (data.status == 0) {
                        $("#idResult").text("");
                    } else {
                        $("#idResult").text("该学号不存在,请重新输入");
                        $("#idResult").css("color", "red");
                        
                    }
                }
            });
        });

     


        $("#submit").on("click", function (event) {
            $.ajax({
                type: "POST",
                url: "{:url('teacher/studentDoAdd')}",
                data: $("#form-student-add").serialize(),
                dataType: "json",
                success: function (data) {
                    if (data.status == 1) {
                        alert(data.message);

                    } else {
                        alert(data.message);
                        return false;
                    }
                }
            });

        })
	})
</script>
{/block}

</body>

</html>