{extend name='public/base' /}

{block name='seo'}
<title>{$title|default="标题"}</title>
<meta name="keywords" content="{$keywords|default='关键字'}">
<meta name="description" content="{$desc|default='描述'}">
{/block}

{block name='menu'}
{include file='public/menu_teacher' /}
{/block}
{block name='content'}

<section class="Hui-article-box">
	<nav class="breadcrumb">
		<i class="Hui-iconfont">&#xe67f;</i>
		首页 <span class="c-gray en">&gt;</span>
		个人管理 <span class="c-gray en">&gt;</span>
		个人信息<a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px"
			href="javascript:location.replace(location.href);" title="刷新"><i class="Hui-iconfont">&#xe68f;</i></a></nav>
	<div class="Hui-article">
		<article class="cl pd-20">
			<div class="mt-20">
				<table class="table table-border table-bordered table-hover table-bg table-sort">
					<thead>
						<tr class="text-c">
							<th width="50">工号</th>
							<th width="50">姓名</th>
							<th width="40">性别</th>
							<th width="120">邮箱</th>
							<th width="90">手机号</th>
							<th width="80">负责班级</th>
							<th width="130">更新时间</th>
							<th width="100">操作</th>
						</tr>
					</thead>
					<tbody>
						{volist name='teacherList' id='vo'}
						<tr class="text-c">
							<td>{$vo.id}</td>
							<td>{$vo.name}</td>
							<td>{$vo.sex}</td>
							<td>{$vo.email}</td>
							<td>{$vo.mobile}</td>
							<td>{$vo.grade_id}</td>
							<td>{$vo.update_time}</td>
							<td class="td-manage">
								<a title="编辑" href="javascript:;" onclick="member_edit('教师编辑','{:url("
									teacher/teacherEdit2",["id"=>$vo["id"]])}','','510')" class="ml-5"
									style="text-decoration:none">
									<i class="Hui-iconfont">&#xe6df;</i>
								</a>

							</td>
						</tr>
						{/volist}
					</tbody>
				</table>
			</div>
		</article>
	</div>
</section>

{/block}

{block name='js'}

<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" src="__STATIC__/lib/My97DatePicker/4.8/WdatePicker.js"></script>
<script type="text/javascript" src="__STATIC__/lib/datatables/1.10.0/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="__STATIC__/lib/laypage/1.2/laypage.js"></script>
<script type="text/javascript">
	$(function () {

		$('.table-sort tbody').on('click', 'tr', function () {
			if ($(this).hasClass('selected')) {
				$(this).removeClass('selected');
			}
			else {
				table.$('tr.selected').removeClass('selected');
				$(this).addClass('selected');
			}
		});
	});
	/*用户-添加*/
	function member_add(title, url, w, h) {
		layer_show(title, url, w, h);
	}
	
	/*用户-编辑*/
	function member_edit(title, url, w, h) {
		$.get(url); //执行控制器中的编辑操作
		layer_show(title, url, w, h);
	}


</script>
<!--/请在上方写此页面业务相关的脚本-->
{/block}
</body>

</html>