{extend name='public/base' /}

{block name='seo' /}
<title>{$title|default='标题'}</title>
<meta name="keywords" content="{$keywords|default='关键字'}">
<meta name="description" content="{$desc|default='描述'}">
{/block}


{block name='content' /}
<section class="Hui-article-box">
	<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页
		<span class="c-gray en">&gt;</span>
		试卷管理
		<span class="c-gray en">&gt;</span>
		人工组卷 <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px"
			href="javascript:location.replace(location.href);" title="刷新"><i class="Hui-iconfont">&#xe68f;</i></a>
	</nav>
	<div class="Hui-article">
		<article class="cl pd-20">
			<form action="" method="post" class="form form-horizontal" id="form-paper-add">
				<div class="row cl">
					<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>试卷标题：</label>
					<div class="formControls col-xs-8 col-sm-9">
						<input type="text" class="input-text" style="width: 400px;" value="" placeholder="请输入试卷标题"
							id="title" name="title">
						<div id="titleResult"></div>
					</div>
				</div>
				<div class="row cl">
					<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>选择题数量：</label>
					<div class="formControls col-xs-8 col-sm-9"> <span class="select-box" style="width:100px;">

							<select class="select" name="cnum" size="1">
								<option value="0" selected>0</option>
								{for start='1' end='51' name='cnum' }
								<option value="{$cnum}">{$cnum}</option>
								{/for}
							</select>
						</span>每题2分
					</div>
				</div>
				<div class="row cl">
					<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>判断题数量：</label>
					<div class="formControls col-xs-8 col-sm-9"> <span class="select-box" style="width:100px;">

							<select class="select" name="tnum" size="1">
								<option value="0" selected>0</option>
								{for start='1' end='51' name='tnum' }
								<option value="{$tnum}">{$tnum}</option>
								{/for}
							</select>
						</span>每题2分
					</div>
				</div>
				<div class="row cl">
					<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>填空题数量：</label>
					<div class="formControls col-xs-8 col-sm-9"> <span class="select-box" style="width:100px;">

							<select class="select" name="bnum" size="1">
								<option value="0" selected>0</option>
								{for start='1' end='51' name='bnum' }
								<option value="{$bnum}">{$bnum}</option>
								{/for}
							</select>
						</span>每题2分
					</div>
				</div>
				<div class="row cl">
					<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>简答题数量：</label>
					<div class="formControls col-xs-8 col-sm-9"> <span class="select-box" style="width:100px;">

							<select class="select" name="snum" size="1">
								<option value="0" selected>0</option>
								{for start='1' end='11' name='snum' }
								<option value="{$snum}">{$snum}</option>
								{/for}
							</select>
						</span>每题10分
					</div>
				</div>
				<div class="row cl">
					<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>时间限制：</label>
					<div class="formControls col-xs-8 col-sm-9"> <span class="select-box" style="width:100px;">

							<select class="select" name="hour" size="1">
								<option value="0" selected>0</option>
								{for start='1' end='25' name='h' }
								<option value="{$h}">{$h}</option>
								{/for}
							</select>
						</span>小时
						<span class="select-box" style="width:100px;">

							<select class="select" name="min" size="1">
								<option value="0" selected>0</option>
								{for start='1' end='61' name='m'}
								<option value="{$m}">{$m}</option>
								{/for}
							</select>
						</span>分钟
					</div>
				</div>



				<div class="row cl">
					<div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-3">
						<input class="btn btn-primary radius disabled" type="button" value="&nbsp;&nbsp;提交&nbsp;&nbsp;"
							id="submit">
					</div>
				</div>
			</form>


		</article>
	</div>
</section>


{/block}


{block name='js'}
<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" src="__STATIC__/lib/My97DatePicker/4.8/WdatePicker.js"></script>
<script type="text/javascript" src="__STATIC__/lib/datatables/1.10.0/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="__STATIC__/lib/laypage/1.2/laypage.js"></script>
<script type="text/javascript">
	$(function () {
		//防止用户无更新提交,只有表中数据有变化时才允许提交
		$("form").children().change(function () {
			$("#submit").removeClass('disabled');
		});
		//失去焦点时,检查标题是否为空
		$("#title").blur(function () {
			var data = $("#title").val();
			if (data == null || data == "") {
				$("#titleResult").text("标题不能为空！");
				$("#titleResult").css("color", "red");
				return false;
			} else {
				$("#titleResult").text("");
			}

		});
		//提交
		$("#submit").on("click", function (event) {
			$.ajax({
				type: "POST",
				url: "{:url('paper/doAdd')}",
				data: $("#form-paper-add").serialize(),
				dataType: "json",
				success: function (data) {
					if (data.status == 1) {
						alert(data.message);

					} else {
						alert(data.message);
						return false;
					}
				}
			});

		})

	})
</script>
<!--/请在上方写此页面业务相关的脚本-->
{/block}
</body>

</html>