﻿{extend name='public/base' /}

{block name='seo'}
<title></title>
<meta name="keywords" content="">
<meta name="description" content="">
{/block}


{block name='content'}

<section class="Hui-article-box">
	<nav class="breadcrumb">
		<i class="Hui-iconfont">&#xe67f;</i>
		首页 <span class="c-gray en">&gt;</span>
		班级管理 <span class="c-gray en">&gt;</span>
		班级列表<a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px"
			href="javascript:location.replace(location.href);" title="刷新"><i class="Hui-iconfont">&#xe68f;</i></a></nav>
	<div class="Hui-article">
		<article class="cl pd-20">

			<div class="cl pd-5 bg-1 bk-gray mt-20">
				<span class="l">
					<a href="javascript:;" onclick="member_add('添加班级','{:url("grade/gradeAdd")}','','510')"
						class="btn btn-primary radius">
						<i class="Hui-iconfont">&#xe600;</i>
						添加班级
					</a>
				</span>
				<span class="r">共有数据：<strong>{$count}</strong> 条</span>
			</div>
			<div class="mt-20">
				<table class="table table-border table-bordered table-hover table-bg table-sort">
					<thead>
						<tr class="text-c">
							<th width="50">班级号</th>
							<th width="40">人数</th>
							<th width="100">授课教师</th>
							<th width="40">查看学生</th>
							<th width="150">更新时间</th>
							<th width="100">操作</th>
						</tr>
					</thead>
					<tbody>
						{volist name='gradeList' id='vo'}
						<tr class="text-c">
							<td>{$vo.id}</td>
							<td>{$vo.num}</td>
							<td>{$vo.teacher}</td>
							
							<td class="td-manage">
                                <a href="{:url('grade/gradeShow')}?id={$vo.id}"" >
                                   
                                    查看
                                </a>
                            </td>
							<td>{$vo.update_time}</td>
							<td class="td-manage">
								<a title="删除" href="javascript:;" onclick="member_del(this,'{$vo.id}')" class="ml-5"
									style="text-decoration:none">
									<i class="Hui-iconfont">&#xe6e2;</i>
								</button>
							</td>
						</tr>
						{/volist}
					</tbody>
				</table>
			</div>
		
			
               
		</article>
	</div>
</section>

{/block}

{block name='js'}

<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" src="__STATIC__/lib/My97DatePicker/4.8/WdatePicker.js"></script>
<script type="text/javascript" src="__STATIC__/lib/datatables/1.10.0/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="__STATIC__/lib/laypage/1.2/laypage.js"></script>
<script type="text/javascript">
	$(function () {

		$('.table-sort tbody').on('click', 'tr', function () {
			if ($(this).hasClass('selected')) {
				$(this).removeClass('selected');
			}
			else {
				table.$('tr.selected').removeClass('selected');
				$(this).addClass('selected');
			}
		});
	});
	/*用户-添加*/
	function member_add(title, url, w, h) {
		layer_show(title, url, w, h);
	}

	/*用户-删除*/
    function member_del(obj, id) {
        layer.msg('你确定删除么？', {
            time: 0 //不自动关闭
            , btn: ['确定', '取消']
            , yes: function (index) {
                $.get("{:url('grade/deleteGrade')}", { id: id });
                $(obj).parents("tr").remove();
                layer.msg('已删除!', { icon: 1, time: 1000 });
            }
        })
    }


</script>
<!--/请在上方写此页面业务相关的脚本-->
{/block}
</body>

</html>