
<!--_menu 作为公共模版分离出去-->
<aside class="Hui-aside">
    {if condition="$role ==3"}
    <div class="menu_dropdown bk_2">
        

        <dl id="menu-admin">
            <dt><i class="Hui-iconfont">&#xe62d;</i> 个人管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
            <dd>
                <ul>
                    <li><a href="{:url('teacher/teacherDetail')}" title="个人信息">个人信息</a></li>
                </ul>
            </dd>
        </dl>

        <dl id="menu-admin">
            <dt><i class="Hui-iconfont">&#xe62d;</i> 学生管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
            <dd>
                <ul>

                    <li><a href="{:url('teacher/studentList')}" title="学生列表">学生列表</a></li>
                </ul>
            </dd>
        </dl>

        <dl id="menu-admin">
            <dt><i class="Hui-iconfont">&#xe62d;</i> 班级管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
            <dd>
                <ul>

                    <li><a href="{:url('teacher/gradeList')}" title="课程列表">班级列表</a></li>
                </ul>
            </dd>
        </dl>

        <dl id="menu-admin">
            <dt><i class="Hui-iconfont">&#xe62d;</i> 题库管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
            <dd>
                <ul>
                    <li><a href="{:url('question/checkList')}" title="选择题题库">选择题</a></li>
                    <li><a href="{:url('question/tofList')}" title="判断题题库">判断题</a></li>
                    <li><a href="{:url('question/blankList')}" title="填空题题库">填空题</a></li>
                    <li><a href="{:url('question/shortList')}" title="简答题题库">简答题</a></li>
                </ul>
            </dd>
        </dl>

        <dl id="menu-admin">
            <dt><i class="Hui-iconfont">&#xe62d;</i> 试卷管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
            <dd>
                <ul>
                    <li><a href="{:url('paper/paperList')}" title="试卷列表">试卷列表</a></li>
                    <li><a href="{:url('paper/paperAdd')}" title="人工组卷">自动组卷</a></li>
                </ul>
            </dd>
        </dl>

    </div>
    {elseif condition="$role ==4"}
    <div class="menu_dropdown bk_2">
        <dl id="menu-admin">
            <dt><i class="Hui-iconfont">&#xe62d;</i> 个人管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
            <dd>
                <ul>

                    <li><a href="{:url('student/studentDetail')}" title="学生列表">个人信息</a></li>
                </ul>
            </dd>
        </dl>

        <dl id="menu-admin">
            <dt><i class="Hui-iconfont">&#xe62d;</i> 查看题库<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
            <dd>
                <ul>
                    <li><a href="{:url('question/checkList')}" title="选择题题库">选择题</a></li>
                    <li><a href="{:url('question/tofList')}" title="判断题题库">判断题</a></li>
                    <li><a href="{:url('question/blankList')}" title="填空题题库">填空题</a></li>
                    <li><a href="{:url('question/shortList')}" title="简答题题库">简答题</a></li>
                </ul>
            </dd>
        </dl>

        <dl id="menu-admin">
            <dt><i class="Hui-iconfont">&#xe62d;</i> 试卷管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
            <dd>
                <ul>
                    <li><a href="{:url('paper/paperList')}" title="试卷列表">试卷列表</a></li>
                </ul>
            </dd>
        </dl>

    </div>
    {else /}
    <div class="menu_dropdown bk_2">
        <dl id="menu-admin">
            <dt><i class="Hui-iconfont">&#xe62d;</i> 学生管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
            <dd>
                <ul>

                    <li><a href="{:url('student/studentList')}" title="学生列表">学生列表</a></li>
                </ul>
            </dd>
        </dl>

        <dl id="menu-admin">
            <dt><i class="Hui-iconfont">&#xe62d;</i> 教师管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
            <dd>
                <ul>
                    <li><a href="{:url('teacher/teacherList')}" title="教师列表">教师列表</a></li>
                </ul>
            </dd>
        </dl>

        <dl id="menu-admin">
            <dt><i class="Hui-iconfont">&#xe62d;</i> 班级管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
            <dd>
                <ul>

                    <li><a href="{:url('grade/gradeList')}" title="班级列表">班级列表</a></li>
                </ul>
            </dd>
        </dl>

        <dl id="menu-admin">
            <dt><i class="Hui-iconfont">&#xe62d;</i> 管理员管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
            <dd>
                <ul>
                    <li><a href="{:url('user/adminList')}" title="管理员列表">管理员列表</a></li>
                </ul>
            </dd>
        </dl>

        <dl id="menu-admin">
            <dt><i class="Hui-iconfont">&#xe62d;</i> 题库管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
            <dd>
                <ul>
                    <li><a href="{:url('question/checkList')}" title="选择题题库">选择题</a></li>
                    <li><a href="{:url('question/tofList')}" title="判断题题库">判断题</a></li>
                    <li><a href="{:url('question/blankList')}" title="填空题题库">填空题</a></li>
                    <li><a href="{:url('question/shortList')}" title="简答题题库">简答题</a></li>
                </ul>
            </dd>
        </dl>

        <dl id="menu-admin">
            <dt><i class="Hui-iconfont">&#xe62d;</i> 试卷管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
            <dd>
                <ul>
                    <li><a href="{:url('paper/paperList')}" title="试卷列表">试卷列表</a></li>
                    <li><a href="{:url('paper/paperAdd')}" title="人工组卷">自动组卷</a></li>
                </ul>
            </dd>
        </dl>

    </div>
    {/if}
</aside>
<div class="dislpayArrow hidden-xs"><a class="pngfix" href="javascript:void(0);" onClick="displaynavbar(this)"></a></div>
<!--/_menu 作为公共模版分离出去-->