{extend name='public/base'/}
{block name='header'}{/block} {//关掉头部}
{block name='menu'}{/block} {//关掉菜单}
{block name='seo'}
<title>{$title|default="标题"}</title>
<meta name="keywords" content="{$keywords|default='关键字'}">
<meta name="description" content="{$desc|default='描述'}">
{/block}

{block name='content'}
<article class="cl pd-20">


    <form action="" method="post" class="form form-horizontal" id="form-admin-add">
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>管理员：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" class="input-text" maxlength="10" value="" placeholder="" id="name" name="name">
                <div id="nameResult"></div>
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>用户密码：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="password" class="input-text" maxlength="10" autocomplete="off" value=""
                    placeholder="" id="password" name="password">
                <div id="passwordResult"></div>
            </div>
        </div>

        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>邮箱：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="email" class="input-text" placeholder="@" name="email" id="email" value="">
                <div id="emailResult"></div>
            </div>

        </div>

        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>手机号：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" class="input-text" maxlength="11" oninput = "value=value.replace(/[^\d]/g,'')" placeholder="" name="mobile" id="mobile" value="">
                <div id="mobileResult"></div>
            </div>
        </div>

        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-3">性别：</label>
            <div class="formControls col-xs-8 col-sm-9"> <span class="select-box" style="width:150px;">

                    <select class="select" name="sex" size="1">
                        <option value="1" selected>男</option>
                        <option value="2">女</option>
                    </select>
                </span>
            </div>
        </div>

        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-3">角色：</label>
            <div class="formControls col-xs-8 col-sm-9"> <span class="select-box" style="width:150px;">

                    <select class="select" name="role" size="1">
                        <option value="2" selected>管理员</option>
                        {if condition="$role == 0"}
                        <option value="1">超级管理员</option>
                        {else /}
                        {/if}
                    </select>
                </span>
            </div>
        </div>



        <div class="row cl">
            <div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-3">
                <input class="btn btn-primary radius disabled" type="button" value="&nbsp;&nbsp;提交&nbsp;&nbsp;"
                    id="submit">
            </div>
        </div>
    </form>


</article>
{/block}

{block name='js'}
<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" src="__STATIC__/lib/jquery.validation/1.14.0/jquery.validate.js"></script>
<script type="text/javascript" src="__STATIC__/lib/jquery.validation/1.14.0/validate-methods.js"></script>
<script type="text/javascript" src="__STATIC__/lib/jquery.validation/1.14.0/messages_zh.js"></script>




<script>

    $(function () {

        //防止用户无更新提交,只有表中数据有变化时才允许提交
        $("form").children().change(function () {
            $("#submit").removeClass('disabled');
        });
        //失去焦点时,检查用户名是否重复
        $("#name").blur(function () {
            var data = $("#name").val();
            if (data == null || data == "") {
                $("#nameResult").text("用户名不能为空！");
                $("#nameResult").css("color", "red");
                return false;
            }
            $.ajax({
                type: 'GET',
                url: "checkUserName",
                data: { name: $(this).val() },
                dataType: 'json',
                success: function (data) {
                    if (data.status == 1) {
                        $("#nameResult").text("用户名可用");
                        $("#nameResult").css("color", "green");
                    } else {
                        $("#nameResult").text("该用户名已被使用,请重新输入");
                        $("#nameResult").css("color", "red");

                    }
                }
            });
        });

        // 失去焦点时,检查邮箱是否重复
        $("#email").blur(function () {
            var data = $("#email").val();
            if (data == null || data == "") {
                $("#emailResult").text("邮箱不能为空！");
                $("#emailResult").css("color", "red");
                return false;
            }
            $.ajax({
                type: 'GET',
                url: "checkUserEmail",
                data: { email: $(this).val() },
                dataType: 'json',
                success: function (data) {
                    if (data.status == 1) {
                        $("#emailResult").text("邮箱可用");
                        $("#emailResult").css("color", "green");
                    } else {
                        $("#emailResult").text("该邮箱已被使用,请重新输入");
                        $("#emailResult").css("color", "red");

                    }
                }
            });
        });

        // 失去焦点时,检查密码是否为空
        $("#password").blur(function () {
            var data = $("#password").val();
            if (data == null || data == "") {
                $("#passwordResult").text("密码不能为空！");
                $("#passwordResult").css("color", "red");
                return false;
            }else{
                $("#passwordResult").text("");

            }
        });

        // 失去焦点时,检查手机号是否重复
        $("#mobile").blur(function () {
            var data = $("#mobile").val();
            if (data == null || data == "") {
                $("#mobileResult").text("手机号不能为空！");
                $("#mobileResult").css("color", "red");
                return false;
            }
            $.ajax({
                type: 'GET',
                url: "checkUserMobile",
                data: { mobile: $(this).val() },
                dataType: 'json',
                success: function (data) {
                    if (data.status == 1) {
                        $("#mobileResult").text("手机号可用");
                        $("#mobileResult").css("color", "green");
                    } else {
                        $("#mobileResult").text("该手机号已被使用,请重新输入");
                        $("#mobileResult").css("color", "red");

                    }
                }
            });
        });


        $("#submit").on("click", function (event) {
            $.ajax({
                type: "POST",
                url: "{:url('user/addUser')}",
                data: $("#form-admin-add").serialize(),
                dataType: "json",
                success: function (data) {
                    if (data.status == 1) {
                        alert(data.message);

                    } else {
                        alert(data.message);
                        return false;
                    }
                }
            });

        })
    })
</script>
{/block}

</body>

</html>