﻿{extend name='public/base' /}

{block name='seo' /}
<title>{$title|default='标题'}</title>
<meta name="keywords" content="{$keywords|default='关键字'}">
<meta name="description" content="{$desc|default='描述'}">
{/block}

{block name='content' /}
<section class="Hui-article-box">
	<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页
		<span class="c-gray en">&gt;</span>
		管理员管理
		<span class="c-gray en">&gt;</span>
		管理员列表 <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px"
			href="javascript:location.replace(location.href);" title="刷新"><i class="Hui-iconfont">&#xe68f;</i></a>
	</nav>
	<div class="Hui-article">
		<article class="cl pd-20">
			<!--如果是admin显示用户数量,其它用户没必要显示-->
			{if condition="$role !=2"}
			<div class="cl pd-5 bg-1 bk-gray mt-20">
				<span class="l">
					<!-- <a href="javascript:;" onclick="unDelete()" class="btn btn-danger radius"> -->
					<!-- <i class="Hui-iconfont">&#xe6e2;</i> 批量恢复</a>-->
					<a href="javascript:;" onclick="admin_add('添加管理员','{:url("user/adminAdd")}','800','500')"
						class="btn btn-primary radius">
						<i class="Hui-iconfont">&#xe600;</i> 添加管理员</a>
				</span>
				<span class="r">共有数据：<strong>{$count}</strong> 条</span>
			</div>
			{else /}
			{/if}

			<table class="table table-border table-bordered table-bg">
				<thead>
					<tr>
						<th scope="col" colspan="9">信息列表</th>
					</tr>
					<tr class="text-c">
						<th width="40">ID</th>
						<th width="100">用户名</th>
						<th width="40">性别</th>
						<th width="150">邮箱</th>
						<th width="150">手机号</th>
						<th width="100">角色</th>
						<th width="130">更新时间</th>
						<th width="100">操作</th>
					</tr>
				</thead>
				<tbody>
					{volist name="list" id="vo"}
					<tr class="text-c">
						<td>{$vo.id}</td>
						<td>{$vo.name}</td>
						<td>{$vo.sex}</td>
						<td>{$vo.email}</td>
						<td>{$vo.mobile}</td>
						<td>{$vo.role}</td>
						<td>{$vo.update_time}</td>
						{if condition="$role == 0"}
						<td class="td-manage">
							<a title="编辑" href="javascript:;" onclick="admin_edit('管理员编辑','{:url("
								user/adminEdit",["id"=>$vo["id"]])}','1','800','500')" class="ml-5"
								style="text-decoration:none">
								<i class="Hui-iconfont">&#xe6df;</i>
							</a>
							<a title="删除" href="javascript:;" onclick="admin_del(this,{$vo.id})" class="ml-5"
								style="text-decoration:none">
								<i class="Hui-iconfont">&#xe6e2;</i>
							</a>
						</td>
						{elseif condition="$name == $vo.name"}
						<td class="td-manage">
							<a title="编辑" href="javascript:;" onclick="admin_edit('管理员编辑','{:url("
								user/adminEdit",["id"=>$vo["id"]])}','1','800','500')" class="ml-5"
								style="text-decoration:none">
								<i class="Hui-iconfont">&#xe6df;</i>
							</a>
						</td>
						{elseif condition="$role ==1 && $vo.role =='超级管理员'"}
						<td></td>
						{else /}
						<td class="td-manage">
							<a title="编辑" href="javascript:;" onclick="admin_edit('管理员编辑','{:url("
								user/adminEdit",["id"=>$vo["id"]])}','1','800','500')" class="ml-5"
								style="text-decoration:none">
								<i class="Hui-iconfont">&#xe6df;</i>
							</a>
						</td>
						{/if}

					</tr>
					{/volist}
				</tbody>
			</table>
			<!--显示分页按钮,事先要将bootstrap导入css和js-->
			{if condition="$role ==2"}
			{else/}
			<div class="container">
				<div class="row">
					<div class="col-md-4"></div>
					<div class="col-md-4">{$list->render()} </div>
				</div>
				<div class="col-md-4"></div>
			</div>
			{/if}
		</article>
	</div>
</section>
{/block}


{block name='js'}
<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" src="__STATIC__/lib/My97DatePicker/4.8/WdatePicker.js"></script>
<script type="text/javascript" src="__STATIC__/lib/datatables/1.10.0/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="__STATIC__/lib/laypage/1.2/laypage.js"></script>
<script type="text/javascript">
	/*
		参数解释：
		title	标题
		url		请求的url
		id		需要操作的数据id
		w		弹出层宽度（缺省调默认值）
		h		弹出层高度（缺省调默认值）
	*/
	/*管理员-增加*/

	function admin_add(title, url, w, h) {
		$.post(url);
		layer_show(title, url, w, h);
	}


	/*用户-删除*/
	function admin_del(obj, id) {
		layer.msg('你确定删除么？', {
			time: 0 //不自动关闭
			, btn: ['确定', '取消']
			, yes: function (index) {
				$.get("{:url('user/deleteUser')}", { id: id });
				$(obj).parents("tr").remove();
				layer.msg('已删除!', { icon: 1, time: 1000 });
			}
		})
	}
	/*管理员-编辑*/
	function admin_edit(title, url, id, w, h) {
		$.get(url, { id: id }); //执行控制器中的编辑操作
		layer_show(title, url, w, h);
	}


</script>
<!--/请在上方写此页面业务相关的脚本-->
{/block}
</body>

</html>